* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alatsi', sans-serif;
    font-size: 20px;
}

ul li {
    list-style: none;
}

main {
    background-color: yellow;
    display: flex;
    width: 70%;
    height: 70vh;
    margin: auto;
    justify-content: space-around;
    
}

nav {
    background-color: tomato;
    display: flex;
    align-items: center;
    width: 70%;
   height: 200px;
   justify-content: space-between;
   margin: auto;
}

.about {
    
}
.logo {
    height: 200px;
    border-radius: 100px;
}

.experince {
    background-color: teal;
    width: 20%;
}

.skills {
    background-color: rgb(196, 122, 11);
    width: 20%;
}

.education {
    background-color: rgb(196, 11, 104);
    width: 20%;
}

.hobby {
    background-color: rgb(54, 196, 11);
    width: 20%;
}
    